<form action="/wizard_add">
    <h1> New addition </h1>
    <div>
      <label for="first_num">
      Add this:
      </label>
      <input id="first_num" type="text" placeholder="" name="first_num">
      <label for="second_num">
      to this:
      <input id="second_num" type="text" placeholder="" name="second_num">
      <button>
        Add!
      </button>
    </div>
  </form>