<form action="/wizard_multiply">
    <h1> New multiplication </h1>
    <div>
      <label for="first_num">
        Multiply this:
      </label>
      <input id="first_num" type="text" placeholder="" name="first_num">
      <label for="second_num">
        by this:
      <input id="second_num" type="text" placeholder="" name="second_num">
      <button>
        Multiply!
      </button>
    </div>
  </form>